.popup__button {
  align-items: center;
  background: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: flex;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  line-height: 22px;
  margin-top: 25px;
  transition: visibility 0s, background .3s;
  width: 100%;
}

.popup__button_disabled {
  color: #000;
  opacity: 0.5;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
